<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<style>
    body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    }

    .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }

    .heading {
        margin-top: 2rem;
    }

    .sub-title {
        margin-top: 2rem;
    }
</style>

<body>
    <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
        <input id="inputfield" type="file" name="upfile">
        <input id="button" type="submit" value="Upload">
    </form>
</body>

</html>